header {
    position: relative;
    overflow: hidden;
}
.header-bars {
    background-color: #e877a6;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width:1439px){
        display: none;
    }
}
.header-bars-active {
    background-color: rgba(255,255,255,.75);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.header-nav {
    background-color: #e877a6;    
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 3rem;   
    text-align: center;
    z-index: 10;
    @media (min-width:1439px){
        width: 95%;
        left: 2.5%;
        border-radius: 7px;
    }    
    ul {
        padding: 1rem;        
        @media (min-width:1439px){
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }
        li {
            list-style: none;
            padding-top: 1.5rem;            
            @media (min-width:1439px){
                margin-right: 3rem;
                padding-top: 0;
                font-size: 1.15rem;
                &:last-of-type {
                    position: absolute;
                    right: 1rem;
                    margin-right: 0;
                }                
            }
            a {                
                color: #252835;
                font-weight: 700;
                text-decoration: none;
                transition: all .5s ease;
                @media (min-width:1439px){
                    &:hover {
                        color: #fff;
                        cursor: pointer;
                    }
                }                
            }
        }
    }
}

.menu-hidden {
    transform:translateX(100%);
    transition: all .5s ease;
    @media (min-width:1439px){
        transform: translateX(0%);
    }
}
.menu-visible {
    transform: translateX(0%);
    transition: all .5s ease;
}
.btn {
    background-color: #252835;
    color:#e877a6 !important;
    text-transform: uppercase;
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    font-weight: 700;
    transition: all .3s ease;
    &:hover {
        transform: scale(1.1);
    }
}
.animate-menu {
    animation: displayMenu .7s ease;
}

@keyframes displayMenu {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: auto;
        }
}
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    @media (min-width:1440px){
        padding-top: 10rem;
    }
}
.about-intro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (min-width:1280px){
        width: 50%;
    }
    h1 {
        font-size: 3rem;
        width: 100%;
        font-weight: 900;
        margin: 0;
        letter-spacing: 1.2px;
        @media (min-width: 768px){
            font-size: 4.5rem;
        }
    }
    p {
        font-size: 1.1rem;
        background-color: #ddc62c;
        color: #252835 ;
        font-weight: 600;
        border-radius: 7px;
        padding: 2rem 1.5rem 5rem 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;        
        background-position: bottom right;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 100% 5%, 100% 75%, 2% 85%);
        @media (min-width: 768px){
            width: 75%;
        }
        @media (min-width: 1440px){
            width: 100%;
            padding-top: 2rem;
        }
    }
}
.profile-btn {
    width: auto;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3735;
    color: #e877a6;
    margin-top: 1.5rem;
    border-radius: 7px;
    margin-right: 0.5rem;
    border: 1.5px dashed #3F3735;
    padding: 0 .5rem;
    a {
        color: #e877a6;
        text-decoration: none;
        text-transform: uppercase;       
    }
}
.about-intro-img {
    width: 55px;
    height: auto;
    margin-right: 1rem;
    img {
        width: 100%;
        height: auto;
    }
}
.about-photo {
    display: none;
    @media (min-width: 1280px){
        display: block;
        width: 40%;
        height: auto;        
        img {
            width: 100%;
            height: auto;                        
        }
    }
}
