@-webkit-keyframes icon-from-right {
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes icon-from-right {
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes icon-from-top {
  from {
    transform: translateY(-1000%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes icon-from-top {
  from {
    transform: translateY(-1000%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mooving {
  from {
    transform: translateX(5%);
    transform: rotate(5%);
  }
  to {
    transform: translateX(-5%);
    transform: rotate(-5%);
  }
}
@keyframes mooving {
  from {
    transform: translateX(5%);
    transform: rotate(5%);
  }
  to {
    transform: translateX(-5%);
    transform: rotate(-5%);
  }
}
header {
  position: relative;
  overflow: hidden;
}

.header-bars {
  background-color: #e877a6;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 1439px) {
  .header-bars {
    display: none;
  }
}

.header-bars-active {
  background-color: rgba(255, 255, 255, 0.75);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.header-nav {
  background-color: #e877a6;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 3rem;
  text-align: center;
  z-index: 10;
}
@media (min-width: 1439px) {
  .header-nav {
    width: 95%;
    left: 2.5%;
    border-radius: 7px;
  }
}
.header-nav ul {
  padding: 1rem;
}
@media (min-width: 1439px) {
  .header-nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
}
.header-nav ul li {
  list-style: none;
  padding-top: 1.5rem;
}
@media (min-width: 1439px) {
  .header-nav ul li {
    margin-right: 3rem;
    padding-top: 0;
    font-size: 1.15rem;
  }
  .header-nav ul li:last-of-type {
    position: absolute;
    right: 1rem;
    margin-right: 0;
  }
}
.header-nav ul li a {
  color: #252835;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
}
@media (min-width: 1439px) {
  .header-nav ul li a:hover {
    color: #fff;
    cursor: pointer;
  }
}

.menu-hidden {
  transform: translateX(100%);
  transition: all 0.5s ease;
}
@media (min-width: 1439px) {
  .menu-hidden {
    transform: translateX(0%);
  }
}

.menu-visible {
  transform: translateX(0%);
  transition: all 0.5s ease;
}

.btn {
  background-color: #252835;
  color: #e877a6 !important;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  font-weight: 700;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.1);
}

.animate-menu {
  -webkit-animation: displayMenu 0.7s ease;
          animation: displayMenu 0.7s ease;
}

@-webkit-keyframes displayMenu {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: auto;
  }
}

@keyframes displayMenu {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: auto;
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
@media (min-width: 1440px) {
  .about {
    padding-top: 10rem;
  }
}

.about-intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (min-width: 1280px) {
  .about-intro {
    width: 50%;
  }
}
.about-intro h1 {
  font-size: 3rem;
  width: 100%;
  font-weight: 900;
  margin: 0;
  letter-spacing: 1.2px;
}
@media (min-width: 768px) {
  .about-intro h1 {
    font-size: 4.5rem;
  }
}
.about-intro p {
  font-size: 1.1rem;
  background-color: #ddc62c;
  color: #252835;
  font-weight: 600;
  border-radius: 7px;
  padding: 2rem 1.5rem 5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 75%, 2% 85%);
          clip-path: polygon(0 0, 100% 5%, 100% 75%, 2% 85%);
}
@media (min-width: 768px) {
  .about-intro p {
    width: 75%;
  }
}
@media (min-width: 1440px) {
  .about-intro p {
    width: 100%;
    padding-top: 2rem;
  }
}

.profile-btn {
  width: auto;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3F3735;
  color: #e877a6;
  margin-top: 1.5rem;
  border-radius: 7px;
  margin-right: 0.5rem;
  border: 1.5px dashed #3F3735;
  padding: 0 0.5rem;
}
.profile-btn a {
  color: #e877a6;
  text-decoration: none;
  text-transform: uppercase;
}

.about-intro-img {
  width: 55px;
  height: auto;
  margin-right: 1rem;
}
.about-intro-img img {
  width: 100%;
  height: auto;
}

.snickers {
  -webkit-animation: icon-from-top 1s ease;
          animation: icon-from-top 1s ease;
}

.disk {
  -webkit-animation: icon-from-right 2s ease;
          animation: icon-from-right 2s ease;
}

.rainbow {
  -webkit-animation: icon-from-top 3s ease;
          animation: icon-from-top 3s ease;
}

.glasses {
  -webkit-animation: icon-from-right 4s ease;
          animation: icon-from-right 4s ease;
}

.about-photo {
  display: none;
}
@media (min-width: 1280px) {
  .about-photo {
    display: block;
    width: 40%;
    height: auto;
    -webkit-animation: mooving 1.5s ease infinite alternate;
            animation: mooving 1.5s ease infinite alternate;
  }
  .about-photo img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=header.css.map */